* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
    padding: 20px;
    font-family: 'Karla', serif;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #F5F5F5;
    height: fit-content;
    min-width: fit-content;
    width: 70%;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    /* place the children elements */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 0.8rem; 
    /* place the children elements */
    justify-items: center; 
    align-items: center; 
}
.dice-face {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    /* children place */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dice-num {
    font-size: 2rem;
}
button {
    background: linear-gradient(to right,#eeaeca ,#94bbe9);
    border: 0px solid #000;
    border-radius: 10px;
    margin-top: 1.5rem;
    padding: 14px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    display: inline-block;
}

button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
button:active {
	transform: scale(0.95);
}
/* TEXTS */
h1 {
    color: #94bbe9;
    font-size: 3rem;
    margin-bottom: 0rem;
}
h1 + h2 {
    margin-top: 0rem;
}
.instructions {
    text-align: center;
    margin-bottom: 1rem;
}